Questions that interest us in our analysis
1. What features have are often null? Are there patterns that can be identified and associated with our target feature
2. What is the propensity of Sepsis within the train population?
    1. How is that affected by demographic/contextual factors? (Severe Sepsis has been found to be more prevelant in male patients. See ncbi.nlm.nih.gov/pmc/articles/PMC3916365/) We will check these factors using hypothesis testing
3. What is the correlation between feature values and sepsis?
    1. Within a patients history, what correlations can be found?
    2. Examining across all patients, the features at 6 hours before and the features at diagnosis of Sepsis
    3. What differences can be noted between members who did not get Sepsis and those that did? (Hypothesis Testing)

In [1]:
from glob import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

from scipy.stats import chi2_contingency

In [2]:
train_dir = '/home/student/Data-analysis-and-presentation/HW1/data/train'

We will begin with a basic examination of the overal structure of the data

We will note that we have 40 features and 1 label

In [6]:
# example_df = pd.read_csv(train_dir + '/patient_14421.psv',sep='|') # has sepsis
example_df = pd.read_csv(train_dir + '/patient_0.psv',sep='|')
print(example_df.shape)
example_df.head()

(23, 41)

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,75.91,0,0,1,-98.6,1,0
1,61.0,99.0,36.44,124.0,65.0,43.0,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,75.91,0,0,1,-98.6,2,0
2,64.0,98.0,NaN,125.0,64.0,41.0,27.0,NaN,NaN,NaN,...,NaN,NaN,NaN,75.91,0,0,1,-98.6,3,0
3,56.0,100.0,NaN,123.0,65.0,41.0,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,75.91,0,0,1,-98.6,4,0
4,66.0,99.0,NaN,120.0,67.0,43.0,23.0,NaN,NaN,NaN,...,NaN,NaN,NaN,75.91,0,0,1,-98.6,5,0

In [89]:
# print(example_df.SepsisLabel.sum())
# print(example_df.shape)
# print(example_df.shape[0] - example_df.SepsisLabel.sum())
# print(example_df.loc[example_df.shape[0] - example_df.SepsisLabel.sum() - 1 , 'SepsisLabel'])

# first_row = example_df.shape[0] - example_df.SepsisLabel.sum() 

# example_df.iloc[:first_row].count()/ example_df.iloc[:first_row].shape[0]
example_df.mean()[:-7]

HR                   60.954545
O2Sat                97.000000
Temp                 36.165000
SBP                 136.600000
MAP                  66.704545
DBP                  44.066667
Resp                 14.236842
EtCO2                      NaN
BaseExcess                 NaN
HCO3                 22.000000
FiO2                       NaN
pH                         NaN
PaCO2                      NaN
SaO2                       NaN
AST                        NaN
BUN                 100.000000
Alkalinephos               NaN
Calcium               7.900000
Chloride            113.000000
Creatinine            2.500000
Bilirubin_direct           NaN
Glucose              78.000000
Lactate                    NaN
Magnesium             2.500000
Phosphate             4.400000
Potassium             5.100000
Bilirubin_total            NaN
TroponinI                  NaN
Hct                  27.800000
Hgb                   9.700000
PTT                        NaN
WBC                  11.000000
Fibrinogen                 NaN
Platelets           158.000000
dtype: float64

We note two demographic features, age and gender.
We note 4 features that tell us about the patients medical circumstances, which unit (unit1 and unit2), when the patient was admitted (HospAdmTime) and how long the patient stayed (ICULOS)

In [26]:
example_df.columns

Index(['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2',
       'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN',
       'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct',
       'Glucose', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium',
       'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC',
       'Fibrinogen', 'Platelets', 'Age', 'Gender', 'Unit1', 'Unit2',
       'HospAdmTime', 'ICULOS', 'SepsisLabel'],
      dtype='object')

We will note that most of our data seems to be continuous with 4 categorical features (the last categorical feature is the sepsis label)

In [7]:
for data_type in example_df.dtypes.unique():
    print(str(data_type))
    print((example_df.dtypes == data_type).sum())

float64
36
int64
5

For further analysis, we will create dictionaries for the sepsis and non-sepsis population. We will run tests over these dictionaries.

In [3]:
sepsis_dict = dict()
non_sepsis_dict = dict()

In [4]:

for file in glob(train_dir + '/patient_*.psv'):
    temp_df = pd.read_csv(file, sep='|')
    # get patient ID
    patient_ID = file[ file.find("_")+1 : file.find(".") ]
    if  temp_df.SepsisLabel.sum() > 0:
        first_sepsis_row = temp_df.shape[0] - temp_df.SepsisLabel.sum()
        sepsis_dict[patient_ID] = dict()
        sepsis_dict[patient_ID]['age'] = temp_df.loc[0, 'Age']
        sepsis_dict[patient_ID]['gender'] = temp_df.loc[0, 'Gender']
        sepsis_dict[patient_ID]['unit'] = 1 if temp_df.loc[0, 'Unit1'] == 1 else 2 if temp_df.loc[0, 'Unit2'] == 1 else np.nan
        sepsis_dict[patient_ID]['HospAdmTime'] = temp_df.loc[0, 'HospAdmTime']

        sepsis_dict[patient_ID]['Sepsis ICULOS'] = temp_df.loc[first_sepsis_row, 'ICULOS']
        sepsis_dict[patient_ID]['Final ICULOS'] = temp_df.loc[temp_df.shape[0]-1, 'ICULOS']

        sepsis_dict[patient_ID]['Null Percentages'] = temp_df.iloc[:first_sepsis_row, :].count() / temp_df.iloc[:first_sepsis_row, :].shape[0]
        sepsis_dict[patient_ID]['Means'] = temp_df.iloc[:first_sepsis_row, :].mean()[:-7]
        sepsis_dict[patient_ID]['Vars'] = temp_df.iloc[:first_sepsis_row, :].var()[:-7]
    else:
        non_sepsis_dict[patient_ID] = dict()
        non_sepsis_dict[patient_ID]['age'] = temp_df.loc[0, 'Age']
        non_sepsis_dict[patient_ID]['gender'] = temp_df.loc[0, 'Gender']
        non_sepsis_dict[patient_ID]['unit'] = 1 if temp_df.loc[0, 'Unit1'] == 1 else 2 if temp_df.loc[0, 'Unit2'] == 1 else np.nan
        non_sepsis_dict[patient_ID]['HospAdmTime'] = temp_df.loc[0, 'HospAdmTime']
        
        non_sepsis_dict[patient_ID]['Final ICULOS'] = temp_df.loc[temp_df.shape[0]-1, 'ICULOS']

        non_sepsis_dict[patient_ID]['Null Percentages'] = temp_df.count() / temp_df.shape[0]
        non_sepsis_dict[patient_ID]['Means'] = temp_df.mean()[:-7]
        non_sepsis_dict[patient_ID]['Vars'] = temp_df.var()[:-7]

In [10]:
print(f'Propensity: {len(sepsis_dict) / len(non_sepsis_dict)}')
print(f'Sepsis patients: {len(sepsis_dict)}')
print(f'Patients with no record of sepsis: {len(non_sepsis_dict)}')
print(f'Total cohort: {len(sepsis_dict) + len(non_sepsis_dict)}')

Propensity: 0.07613666935700834
Sepsis patients: 1415
Patients with no record of sepsis: 18585
Total cohort: 20000

In [5]:
sepsis_df = pd.DataFrame.from_dict(data=sepsis_dict, orient='index').drop(columns=['Null Percentages', 'Means', 'Vars'])
sepsis_df['Sepsis'] = 1
non_sepsis_df = pd.DataFrame.from_dict(data=non_sepsis_dict, orient='index').drop(columns=['Null Percentages', 'Means', 'Vars'])
non_sepsis_df['Sepsis'] = 0
all_df = pd.concat([sepsis_df, non_sepsis_df])
all_df.head()

         age  gender  unit  HospAdmTime  Sepsis ICULOS  Final ICULOS  Sepsis
14421  53.35       1   NaN        -0.07           54.0            63       1
17558  79.09       1   NaN        -0.03            3.0            11       1
1873   49.00       0   1.0       -70.18            1.0             8       1
14108  55.17       0   2.0        -0.02           13.0            22       1
6739   60.00       0   2.0      -214.44           69.0            77       1

In [6]:
all_df.describe()

,age,gender,unit,HospAdmTime,Sepsis ICULOS,Final ICULOS,Sepsis
count,20000.000000,20000.000000,12314.000000,20000.000000,1415.000000,20000.000000,20000.000000
mean,61.668052,0.555500,1.506497,-50.975196,50.504594,38.838650,0.070750
std,16.485956,0.496923,0.499978,140.077631,59.038631,22.200684,0.256413
min,15.000000,0.000000,1.000000,-5366.860000,1.000000,8.000000,0.000000
25%,51.000000,0.000000,1.000000,-42.565000,7.000000,24.000000,0.000000
50%,63.310000,1.000000,2.000000,-5.950000,29.000000,39.000000,0.000000
75%,74.000000,1.000000,2.000000,-0.040000,72.000000,47.000000,0.000000
max,100.000000,1.000000,2.000000,17.340000,331.000000,336.000000,1.000000

In [7]:
sepsis_df.head()
sepsis_summary_table = sepsis_df.mean()
sepsis_summary_table['unit1'] = (sepsis_df.unit == 1).mean()
sepsis_summary_table['unit2'] = (sepsis_df.unit == 2).mean()
non_sepsis_summary_table = non_sepsis_df.mean()
non_sepsis_summary_table['unit1'] = (non_sepsis_df.unit == 1).mean()
non_sepsis_summary_table['unit2'] = (non_sepsis_df.unit == 2).mean()
summary_table = pd.concat([sepsis_summary_table, non_sepsis_summary_table], axis=1).transpose()
summary_table

,age,gender,unit,HospAdmTime,Sepsis ICULOS,Final ICULOS,Sepsis,unit1,unit2
0,62.250940,0.580919,1.405405,-74.686587,50.504594,59.032509,1.0,0.326502,0.222615
1,61.623673,0.553565,1.513305,-49.169890,NaN,37.301157,0.0,0.302125,0.318644

In [129]:
print()
print()
print()
print()

822
10288
593
8297

We find that gender is correlated to Sepsis at a p-value of around 0.5. 
This makes sense because based on the literature men are more succeptible to sepsis and we find that to be the case here.

In [137]:
gender_data = [[((all_df.gender == 1) & (all_df.Sepsis == 1)).sum(), ((all_df.gender == 1) & (all_df.Sepsis == 0)).sum()], 
               [((all_df.gender == 0) & (all_df.Sepsis == 1)).sum(), ((all_df.gender == 0) & (all_df.Sepsis == 0)).sum()]]
print(gender_data)
stat, p, dof, expected = chi2_contingency(gender_data)
print(p)
print(f'{((all_df.gender == 1) & (all_df.Sepsis == 1)).sum()/(all_df.gender == 1).sum()} % of men (n={(all_df.gender == 1).sum()}) with sepsis vs. {((all_df.gender == 0) & (all_df.Sepsis == 1)).sum()/(all_df.gender == 0).sum()}% women (n={(all_df.gender == 0).sum()}) with sepsis in data')

[[822, 10288], [593, 8297]]
0.04902474059626093
0.07398739873987399 % of men (n=11110) with sepsis vs. 0.06670416197975253% women (n=8890) with sepsis in data

We look at which unit the patients were treated and find that at a very significant level unit is correlated to sepsis. It is likely that unit 1 treats more ill patients. However, we will note that this information is often lacking.

In [138]:
unit_data = [[((all_df.unit == 1) & (all_df.Sepsis == 1)).sum(), ((all_df.unit == 1) & (all_df.Sepsis == 0)).sum()], 
               [((all_df.unit == 2) & (all_df.Sepsis == 1)).sum(), ((all_df.unit == 2) & (all_df.Sepsis == 0)).sum()]]
stat, p, dof, expected = chi2_contingency(unit_data)
print(p)
print(f'{((all_df.unit == 1) & (all_df.Sepsis == 1)).sum()/(all_df.unit == 1).sum()} % of unit1 (n={(all_df.unit == 1).sum()}) with sepsis vs. {((all_df.unit == 2) & (all_df.Sepsis == 1)).sum()/(all_df.unit == 2).sum()}% unit2 (n={(all_df.unit == 2).sum()}) with sepsis in data')

7.212712069706973e-09
0.07602435412209972 % of unit1 (n=6077) with sepsis vs. 0.050505050505050504% unit2 (n=6237) with sepsis in data

In [15]:
all_df.head()
all_df['HospAdmTime'].sample(n=5).mean()

-3.9419999999999993

In [8]:
def build_CI(feature_sepsis, feature_not_sepsis, bootstrap_size, num_bootstraps):
    diff_list = list()
    for b in range(num_bootstraps):
        feature_sepsis.sample()
        diff = feature_sepsis.sample(n=bootstrap_size, replace=True, random_state=b).mean() - feature_not_sepsis.sample(n=bootstrap_size, replace=True, random_state=b).mean()
        diff_list.append(diff)
    ci = np.percentile(np.array(diff_list), [2.5, 97.5])
    print(f"Confidence Interval: ({ci[0]}, {ci[1]})")
    return ci[0], ci[1]

We will check age and age by gender (the literature indicates that women get sepsis at an older age). We find that there is no (bootstrap) evidence for a difference between the two populations by age.

In [9]:
print("General CI")
build_CI(sepsis_df['age'],  non_sepsis_df['age'], 300, 100)
print("CI for men")
build_CI(sepsis_df[sepsis_df['gender'] == 1]['age'],  non_sepsis_df[non_sepsis_df['gender'] == 1]['age'], 300, 100)
print("CI for women")
build_CI(sepsis_df[sepsis_df['gender'] == 0]['age'],  non_sepsis_df[non_sepsis_df['gender'] == 0]['age'], 300, 100)

General CI
Confidence Interval: (-2.1400574999999993, 2.9457266666666673)
CI for men
Confidence Interval: (-2.2663025000000045, 2.4235466666666556)
CI for women
Confidence Interval: (-1.1226091666666593, 4.148594999999987)

(-1.1226091666666593, 4.148594999999987)

We will examine Hospital Admin time, although this field does not have a clear meaning.

There is evidence that there is a difference in the hospital admission times and that the sepsis admission time is smaller.

In [11]:
build_CI(sepsis_df['HospAdmTime'],  non_sepsis_df['HospAdmTime'], 300, 200)

Confidence Interval: (-51.10724083333334, -2.8854366666666773)

(-51.10724083333334, -2.8854366666666773)

We will examine the last ICULOS

In [12]:
build_CI(sepsis_df['Sepsis ICULOS'], non_sepsis_df['Final ICULOS'], 300, 200)

Confidence Interval: (6.396583333333336, 19.461833333333335)

(6.396583333333336, 19.461833333333335)