In [2]:
import os
import pandas as pd
from glob import glob
import numpy as np
import torch
from torchvision import transforms
from torchvision.utils import save_image

from sklearn.model_selection import train_test_split
import shutil
from cross_validation import split_train_val_test, produce_img

/home/student/miniconda3/envs/hw_094295_env/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
split_train_val_test(img_paths='/home/student/Data-analysis-and-presentation/HW2/hw2_094295/fixed_data1', 
                         write_path='/home/student/Data-analysis-and-presentation/HW2/hw2_094295/final_before_aug_data',
                         test_size=1000)

In [57]:
total = 0
easy_view_dict = dict()
for folder in sorted(glob('/home/student/Data-analysis-and-presentation/HW2/hw2_094295/final_before_aug_data/train/*')):
    numeral = folder.split(sep='/')[-1]
    # print(numeral)
    folder_size = len(glob(folder+'/*.png'))
    # print(folder_size)
    total += folder_size
    easy_view_dict[numeral] = folder_size
print(f"Total of {total} pictures")
pd.DataFrame.from_dict(data=easy_view_dict, orient='index')

Total of 1030 pictures

        0
i     132
ii     81
iii    93
iv    141
ix     96
v     119
vi     97
vii    88
viii   94
x      89

In [ ]:
total = 0
easy_view_dict = dict()
for folder in sorted(glob('/home/student/Data-analysis-and-presentation/HW2/hw2_094295/final_before_aug_data/val/*')):
    numeral = folder.split(sep='/')[-1]
    # print(numeral)
    folder_size = len(glob(folder+'/*.png'))
    # print(folder_size)
    total += folder_size
    easy_view_dict[numeral] = folder_size
print(f"Total of {total} pictures")
pd.DataFrame.from_dict(data=easy_view_dict, orient='index')

Total of 1000 pictures

        0
i     128
ii     79
iii    90
iv    136
ix     93
v     115
vi     95
vii    86
viii   92
x      86

In [3]:
final_dir = '/home/student/Data-analysis-and-presentation/HW2/hw2_094295/final_data'
if not os.path.exists(final_dir):
        os.makedirs(final_dir)
if not os.path.exists(os.path.join(final_dir, 'train')):
        os.makedirs(os.path.join(final_dir, 'train'))

In [4]:
load_path='/home/student/Data-analysis-and-presentation/HW2/hw2_094295/final_before_aug_data'
save_path= os.path.join(final_dir, 'train')
num_img_to_produce=9000
produce_img(load_path, save_path, num_img_to_produce)

In [6]:
total = 0
easy_view_dict = dict()
for folder in sorted(glob(os.path.join(save_path, '*'))):
    numeral = folder.split(sep='/')[-1]
    # print(numeral)
    folder_size = len(glob(folder+'/*.png'))
    # print(folder_size)
    total += folder_size
    easy_view_dict[numeral] = folder_size
print(f"Total of {total} pictures")
pd.DataFrame.from_dict(data=easy_view_dict, orient='index')

Total of 9000 pictures

         0
i     1099
ii     671
iii    817
iv    1298
ix     854
v      996
vi     893
vii    782
viii   827
x      763